body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

:root{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 18%;
    height: 100vh;
    border: solid blue 1px;
}
footer {
    width: 32%;
    height: 100vh;
    border: solid red 1px;
    
}


main {
    width: 50%;
    height: 100vh;
    text-align: center;
}

/** Path: EASYP/assets/css/style.css */
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.nav-title{
    margin-bottom: 20px;
}
.nav-opcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10%;
}

h1{
    color: blueviolet;
    align-self: center;
    margin-top: 40px;

}

.opcion{
    display: flex;
    margin: 10px;
    text-align: center;
}

.opcion img{
    width: 50px;
    height: 40px;
    margin-right: 20px;

}

.opcion span{
    font-size: 17px;
    color: black;
    align-self: center;
    font-weight: 600;
}

.rounded-image{
    border-radius: 60%;
}

/** MAIN */

title{
    font-size: 10px;
}

.parent {
    display: grid;
    width: 88%;
    height: 14vh;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-self: center;
    padding: 40px;

    }
    
    .div1 {
        flex-direction: row;
        background-color: #817E9F;
        grid-area: 1 / 1 / 1 / 1; 
        border-top-left-radius: 10px;
    }
    .div2 { 
            background-color: #817E9F;
            border-bottom-left-radius: 10px ;
            grid-area: 2 / 1 / 3/ 2
    }
        .div3 { 
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            grid-area: 1 / 2 / 3 / 3; 
            /* border: solid 1px; */
            background-color: #817E9F;
    }

    .div-1-a {
        display: flex;
        align-items: center; /* Alinea verticalmente el contenido */
        gap: 10px; /* Espacio entre la imagen y el texto */
        text-decoration: none; /* Opcional: elimina el subrayado del enlace */
        color: inherit; /* Opcional: conserva el color del texto del enlace */
        margin-left: 10px;
      }
      
      .div-1-a img {
        width: 20px; /* Ajusta el tamaño de la imagen */
        height: auto;
        font-weight: 700;
      }
      
      .div-1-a h1 {
        font-size: 18px; /* Ajusta el tamaño del texto según tu diseño */
        margin: 0; /* Elimina márgenes para mejor alineación */
      }

    .div3 a{
        display: flex;
        margin-right: 20px;
    }
        
    
   
.guia{
    border: solid   1px;
    padding: 8px;
}