@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
  
}

body{
    background-color: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
} 

.lista{
    display: flex;
    color: #22D4FD;
    margin: 65px ;
    margin-left: 15%;
    list-style: none;
}

.lista li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #22D4FD;
}

.li2{
    margin-left: 80px;
}

/* MAIN
*/

.presentacion {
    display: flex;
    align-items: start;
    margin: 6% 15%;
    justify-content: space-between;
    gap: 96px;
}

h1{
    font-family: Krona system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px; 
}

h4{
    width: 574px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

img{
    display: flex;
    align-items: start;


}
/*FOOTER*/


footer {
    background-color: #22D4FD;
    height: 80px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.footer_texto {
    font-family: "Montserrat", sans-serif;
    text-align: center; /* Asegura que el texto esté centrado */
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
