body{
    display: flex;
    margin: 0 ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    display: grid;
    justify-content: center;
    border: 2px solid black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 60%;
    
}

.cuadro-left{

    height: 40vh;
    justify-content: center;
    align-items: center;
    /* padding-left: 90px; */
    
}

/* TEXTO FORMATO */

.texto1{
    font-family: Krona system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    color: white;
}

.color{
    color: #22D4FD;
}


.texto2{
    font-family: Montserrat;
    font-weight: 400px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    color: white;
}

button{
    
    width: 180px;
    height: 59px;
    top: 403px;
    left: 5px;
    border-radius: 16px;
    padding: 6px;
    background-color: #22D4FD;
    margin-left: 40px;
    
}

.botones{
    display: flex;
    margin-top: 20px;
}

.botones span{
    font-weight: 600px;
    font-size: 24px;
    line-height: 36px;
    font-family: Montserrat;
    text-align: center;

}