@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    height: 100vh;
    box-sizing: border-box;
}

.lista{
    display: flex;
    color: #22D4FD;
    margin: 65px ;
    margin-left: 15%;
    list-style: none;
}

.lista li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #22D4FD;
}

.li2{
    margin-left: 80px;
}


.strong1{
    color: #22D4FD;
}
.presentacion {
    display: flex;
    align-items: start;
    margin: 6% 15%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}


h3{
    width: 320px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
}
.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    display: flex;
    width: 378px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-weight: 600;
    border: solid 2px #22D4FD;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

img{
    height: auto;
}


/*FOOTER*/


footer {
    background-color: #22D4FD;
    height: 80px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.footer_texto {
    font-family: "Montserrat", sans-serif;
    text-align: center; /* Asegura que el texto esté centrado */
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}


/********************* MOBILE ************************/

@media (max-width: 720px) {
    body {
        width: 100vw;
    }

    .lista {
        width: 281px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 44px auto;
        font-size: 24px;
        background-color: white;

    }

    .presentacion {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: auto;


    }

    .presentacion__contenido {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .presentacion__enlaces__link {
        width: 100%;
        max-width: 378px;
    }

    img {
        max-width: 60%;

    }
}
